body{
    font: 14px/20px arial,sans-serif;
}
a{
    color: #000;
}

ul{
    padding: 0;
}

.active{
    color: #fff;
}

.fr{
    float: right;
}

.logo{
    max-height: 7em;
}

.search-word{
    color: red;
}

.header-search,.page{
    background: #fff;
}
.pagination{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}

.fixed-top{
    max-height: 8em;
}

.result-nav{
    font-size: 0.8rem;
}
.result{
    padding-top: 8em;
    margin-bottom: 1rem;
}

.pagination span,
.pagination a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 0.5em;
}

.active,
.pagination a:hover,
span:hover,.current {
    color: #fff;
    background: #007bff;
}

.footer {
    width: 100%;
    height: 4em;
    padding: 1em;
    color: #fff;
    text-align: center;
    background: #008cff;
}

.more{
    display: none;
}

.article-list {
    border-bottom:  1px solid #ddd;
    border-radius: 0.5em;
} 

.article-img {
    width: 100%;
    max-height: 12em;
    margin-bottom: 1rem;
}

.article-right h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.source,.date,.url{
    font-size: .8em;
    color:#999;
}

.nothing {
    width: 60px;
    margin: auto;
}

.tr {
    text-align: right;
}

@media screen and (max-device-width: 480px) {
    .result{
        padding-top: 13em;
    }
    .tr {
        text-align: left;
    }

    .logoContent {
        margin: 1em;
        text-align: center;
    }
}

.modal .input-group {
    margin-bottom: 1em;
}

.small {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.form-inline{
    line-height: 31px;
    vertical-align: 20%;
}